<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:fragment="header">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
</head>
<body>

<div th:fragment="navbar">

    <nav class="navbar navbar-expand-sm bg-dark">

        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/}">
                        <th:block th:text="#{navbar.home}"/>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link text-white" th:href="@{/admin/user-list}">
                        <th:block th:text="#{navbar.userlist}"/>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link text-white" th:href="@{/admin/order-list}">
                        <th:block th:text="#{navbar.orders}"/>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link text-white" th:href="@{/admin/car-list}">
                        <th:block th:text="#{navbar.carlist}"/>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link text-white" th:href="@{/admin/driver-list}">
                        <th:block th:text="#{navbar.driverlist}"/>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a sec:authorize="hasRole('USER')" class="nav-link text-white" th:href="@{/user/balance-recharge}">
                        <th:block th:text="#{navbar.recharge}"/>
                    </a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasRole('USER')" class="nav-link text-white" th:href="@{/user/order-create}">
                        <th:block th:text="#{navbar.book}"/>
                    </a>
                </li>
            </ul>

            <div style="display: flex; align-items: center;">
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    <button class="btn btn-link nav-link text-white" type="submit">
                        <span th:text="#{navbar.logout}"></span>
                    </button>
                </form>

                <a sec:authorize="isAnonymous()" class="nav-link text-white" th:href="@{/login}">
                    <th:block th:text="#{navbar.login}"/>
                </a>
                <a sec:authorize="isAnonymous()" class="nav-link text-white" th:href="@{/guest/user-registration}">
                    <th:block th:text="#{navbar.register}"/>
                </a>

                <div th:if="${switchLocale}" style="display: flex; flex-direction: column">
                    <a th:href="@{'?lang=en'}">
                        <th:block th:text="#{label.lang.en}"/>
                    </a>
                    <a th:href="@{'?lang=uk'}">
                        <th:block th:text="#{label.lang.uk}"/>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
